[submodule "platform/mcu/gap8/PMSIS"]
	path = platform/mcu/gap8/PMSIS
	url = git@gitlab.greenwaves-tech.com:gwt_sdk_developer/PMSIS.git
[submodule "platform/mcu/gap8/pmsis_bsp"]
	path = platform/mcu/gap8/pmsis_bsp
	url = https://github.com/GreenWaves-Technologies/pmsis_bsp.git
[submodule "platform/mcu/gap8/pmsis_api"]
	path = platform/mcu/gap8/pmsis_api
	url = git@github.com:GreenWaves-Technologies/pmsis_api.git
